body {
  font-family: 'Arial', sans-serif;
  background-color: #efefff;
  color: #333;
}

.navbar {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #000;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  width: fit-content;
}

input[type="text"], input[type="password"], input[type="submit"] {
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}